.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 11;
  color: #3bc2b9;
  z-index: 15;
  a {
    text-decoration: none;
    color: #3bc2b9;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #3bc2b96c 1px 0 10px;
  }

  .contactButton {
    padding: 0.5rem 2rem;
    background-color: #3bc2b9;
    color: var(--black);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;

    &:hover {
      background-color: #2a968f;
    }
  }
}

@media (max-width: 432px) {
  .header {
    padding: 1rem 2rem;
    a {
      .logo {
        font-size: 1.7rem;
      }
    }
    .contactButton {
      padding: 0.4rem 1rem;
    }
  }
}

@media (max-width: 358px) {
  .header {
    padding: 0.5rem 1rem;
    a {
      .logo {
        font-size: 1.5rem;
      }
    }
  }
}
