.container-page-all-projects {
    background-color: black;
    padding: 50px;
    min-height: 100vh;
    h1 {
        font-size: 4rem;
        background: linear-gradient(75deg, rgb(214, 214, 214), transparent);
        -webkit-background-clip: text;
        color: transparent;
    }
    .container-all-projects {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 1 30%;
        gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        a {
            position: relative;
            height: 325px;
            width: 594px;
            display: block;
            border-radius: 5px;
            overflow: hidden;
            object-fit: cover;
            background-size: cover;
            transition: all 0.3s ease-in-out;
        .containers-infos-project {
            position: relative;
            z-index: 1;
            padding: 20px;
            opacity: 0;
            background: rgba(0, 0, 0, 0.4);
            transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
            height: 100%;
            width: 594px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            &.active {
                opacity: 1; 
                background: rgba(0, 0, 0, 0.5);
            }
            .project-title{
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                margin-top:38px;
            }
            .project-description{
                font-size: 18px;
                line-height: 24px;
                font-weight: 300;
                position: absolute;
                bottom: 87px;
                width: 85%;
                left: 40px;
            }
            .project-title,
            .project-description {
                color: white;
            }
        }
        &:hover {
            transform: scale(1.03);
        }
    }
    }
  }
  .filters{
    display: flex;
    gap: 10px;
    padding: 25px 0 5px 0;
    select{
        padding: 10px 25px;
        background: transparent;
        display: block;
        border: 1px solid white;
        color: white;
        transition: all ease-in-out 0.3s;
        &:hover{
            transform: scale(1.04);
            transition: all ease-in-out 0.3s;
        }
        option{
            color: black;
        }
      }
  }
