.contact-container {
  background-color: #131313;
  padding: 40px 20px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-banner {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.footer-content p {
  font-size: 0.9em;
  margin: 0;
  color: #aaa;
}

.footer-content p a {
  color: #81C784;
  text-decoration: none;
}

.footer-content p a:hover {
  text-decoration: underline;
}