form {
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 4rem 0;

  h1 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(155deg, #e3e3e3, #5d5d5d9e);
    -webkit-background-clip: text;
    color: transparent;
  }

  div {
    width: 100%;
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #fff;
      /* White color for labels */
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      font-size: 1em;
      background-color: #1A1A1A;
      color: white;
      border: 0;

      &:focus {
        border-color: #81C784;
        outline: none;
      }
    }

    textarea {
      height: 150px;
      resize: vertical;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    /* Darker green background for the button */
    color: black;
    /* White text on button */
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 0px 10px #3bc2b900;
    transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      background-color: #3fd6cc;
      box-shadow: 0 0px 10px #3bc2b955;

    }
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

.success-message {
  color: #3fd6cc;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;

}

.error-message {
  color: #E53935;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}