.loader {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-origin: top;
  animation: end__loader 0.5s 2.5s cubic-bezier(0.75, 0.02, 0.34, 0.94) forwards;

  @keyframes end__loader {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 500px;
    background-color: var(--black);
    transform: scale(0);
    animation: pulse 0.9s infinite;
    z-index: 1;
  }

  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(0.1);
      animation-timing-function: cubic-bezier(0.47, 0.01, 0, 0.99);
    }
    15% {
      transform: translate(-50%, -50%) scale(1);
      animation-timing-function: cubic-bezier(0.75, 0.02, 0.34, 0.94);
    }
    100% {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }

  .circle__2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 500px;
    background-color: var(--blue);
    transform: scale(0);
    animation: pulse 0.9s infinite 0.1s;
    opacity: 1;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }

  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(0.1);
      animation-timing-function: cubic-bezier(0, 0.73, 0.46, 1);
    }
    30% {
      transform: translate(-50%, -50%) scale(1);
      animation-timing-function: cubic-bezier(0.75, 0.02, 0.34, 0.94);
    }
    100% {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }

  .loader__title {
    font-size: 3rem;
    color: var(--gray);
    z-index: 3;
    opacity: 0;
    animation: appear 2s 1s forwards;

    @keyframes appear {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        color: var(--gray);
        text-shadow: #3bc2b900 1px 0 10px;
      }
      80% {
        opacity: 1;
        color: var(--blue);
        text-shadow: #3bc2b99e 1px 0 20px;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

.loader.active {
  transition: transform 0.3s ease-in-out;

  .circle__2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--blue);
    transform: translate(-50%, -50%) scale(1);
    animation: pulse2 1.5s ease-in-out forwards;
    z-index: 1;

    @keyframes pulse2 {
      from {
        transform: translate(-50%, -50%) scale(0.1);
      }
      to {
        transform: translate(-50%, -50%) scale(10);
      }
    }
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    animation: pulse2 1.5s 0.1s ease-in-out forwards;
    z-index: 2;

    @keyframes pulse2 {
      from {
        transform: translate(-50%, -50%) scale(0.1);
      }
      to {
        transform: translate(-50%, -50%) scale(20);
      }
    }
  }
}

.landingPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--black);

  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    .slogan {
      color: var(--blue);
      font-size: 1.5rem;
      font-weight: 500;
      text-shadow: #3bc2b96c 1px 0 10px;
      margin-bottom: 1rem;
    }

    .title {
      font-size: 5rem;
      width: 800px;
      line-height: 6rem;
      font-weight: bold;
      margin-bottom: 1rem;
      background: linear-gradient(155deg, #e3e3e3, #5d5d5d9e);
      -webkit-background-clip: text;
      color: transparent;
    }

    .description {
      font-size: 1.2rem;
      background: linear-gradient(155deg, #e3e3e3, #5d5d5d9e);
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 2rem;
      max-width: 600px;
    }

    .projectsButton {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;
      background-color: #3bc2b9;
      color: var(--black);
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        background-color: #2a968f;
      }

      svg {
        stroke-width: 2;
      }
    }
  }
}

.carousel {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  position: relative;
  background-color: var(--soft-black);

  .slider {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .carouselTrack {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      animation: carousel 15s linear infinite;

      img {
        height: 31px;
      }
    }
  }

  @keyframes carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.collabore {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);

  h2 {
    font-size: 2rem;
    font-weight: 500;
    width: 700px;
    text-align: center;
    background: linear-gradient(
      75deg,
      rgb(214, 214, 214),
      rgba(214, 214, 214, 0.406)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.container__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: var(--black);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;

    .card {
      width: 300px;
      height: 400px;
      background-color: var(--soft-black);
      border-radius: 5px;
      padding: 2rem;
      text-align: left;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 0.5rem;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
      }

      .cardIcon {
        svg {
          color: var(--gray);
        }
      }

      .cardTitle {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--gray);
      }

      .cardDescription {
        font-size: 1rem;
        color: var(--gray);
      }
    }
  }
}

.realisation {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.realisationCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--soft-black);
  padding: 1.5rem;
  border-radius: 4px;
  width: 1250px;
  height: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .top__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img__realisation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 800px;
    object-fit: cover;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--white);
}

.realisationTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

.realisationSubtitle {
  font-size: 1rem;
  color: var(--white);
}

.realisationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--soft-black);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.realisationButton:hover {
  background-color: #aaaaaa;
}
.team {
  background-color: var(--soft-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .teamTitle {
    background: linear-gradient(155deg, #e3e3e3, #5d5d5d9e);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-top: 25px;
  }
  .allCardsTeam {
    display: flex;
    gap: 100px;
    .cardTeam {
      img {
        border-radius: 100px !important;
        object-fit: contain;
      }
      .teamContent {
        color: white;
        text-align: center;
        margin: 25px 0;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container__card {
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 989px) {
  .title {
    width: 100% !important;
  }
  .container__card {
    .container {
      .card {
        width: 200px;
        height: 300px;
        .cardTitle {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 821px) {
  .container__card {
    .container {
      .card {
        width: 150px;
        height: auto;
        .cardTitle {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container__card {
    .container {
      display: flex;
      flex-direction: column !important;
      .card {
        width: 80%;
        height: auto;
        .cardTitle {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media (max-width: 716px) {
  .team {
    .teamTitle {
      font-size: 2.5rem;
    }
    .allCardsTeam {
      gap: 50px;
      .cardTeam {
        img {
          width: 100px !important;
          height: 100px !important;
        }
        .teamContent {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 691px) {
  .landingPage {
    .mainContent {
      .title {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
  .collabore {
    h2 {
      font-size: 1.7rem !important;
    }
  }
}

@media (max-width: 480px) {
  .landingPage {
    .mainContent {
      .title {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      .description {
        font-size: 1rem;
      }
    }
  }
  .collabore {
    h2 {
      font-size: 1.3rem !important;
    }
  }
  .carouselTrack {
    img {
      width: 150px !important;
      height: auto !important;
      padding: 0 25px;
      object-fit: cover;
    }
  }
  .team {
    .teamTitle {
      font-size: 2rem;
    }
    .allCardsTeam {
      gap: 25px;
      .cardTeam {
        display: flex;
        align-items: center;
        flex-direction: column;
        .teamContent {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 384px) {
  .team {
    .allCardsTeam {
      flex-direction: column;
      gap: 25px;
      .cardTeam {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 200px !important;
          height: 200px !important;
        }
        .teamContent {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media (max-width: 358px) {
  .landingPage {
    .mainContent {
      .title {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
  .collabore {
    h2 {
      font-size: 1.1rem !important;
    }
  }
}
